.header {
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding: 5px;
}

.headerList {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  justify-content: right;
}

.headerList li {
  margin-right: 15px;
  list-style-type: none;

  &:last-child {
    margin-right: 0;
  }
}

.headerList a {
  color: white;
  text-decoration: none;
  &:hover {
    color: darkcyan;
  }
}

.active a {
  color: darkcyan;
}
