.sidebar {
  background-color: #f0f0f0;
  padding: 10px;
}

.sidebar button {
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  font-weight: 600;
  color: black;
  border-radius: 5px;
  background-color: lightblue;
  border: 1px solid grey;
  font-size: 14px;
  &:hover {
    background-color: lightskyblue;
  }
}

.sidebarContent {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}
.sidebarContentBlock {
  box-shadow: -6px 0 12px rgba(16, 24, 40, 0.08);
  transition:
    box-shadow 0.5s ease,
    transform 0.15s ease;
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  height: 100%;
  margin-bottom: 20px;
}

.sidebarContentBlock li {
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid grey;
  width: 250px;
   display: flex;
    gap: 10px;
    margin-bottom: 0;
 
}

.sidebarContentBlock li p {
  opacity: 0.8;
  margin-bottom: 5px;
  margin-right: 10px;
}
.sidebarContentBlock li span {
  font-weight: 600;
}
 .masterComment {
    max-width: 250px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
  }
.masterComment::-webkit-scrollbar {
    width: 6px; 
    height: 8px;              
}


.masterComment::-webkit-scrollbar-track {
    background: #f0f0f0;    
    border-radius: 10px;  
}

.masterComment::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;   
    border: 2px solid #f1f1f1; 
}

@media screen and (min-width: 1200px) {
  .sidebarContentBlock {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    font-size: 16px;
    margin-top: 20px;
    width: 600px;
    gap: 40px;
  }

  .sidebarContentBlock li p {
    margin-bottom: 0;
    margin-right: 0;
  }
 
  .sidebar {
    padding: 20px;
  }
}
.selectBtn {
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 14px;
  &:hover {
    background-color: lightskyblue;
  }

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modalOverlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}
.sidebar li a {
  font-weight: 600;
  color: black;
  opacity: 0.8;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}
.pdfBtn {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: lightblue;
  font-size: 14px;
  &:hover {
    background-color: lightskyblue;
  }
}
