.navBlock {
  padding: 10px;
  height: 100vh;
  margin-right: 20px;
  border-radius: 4px;
  min-width: 150px;
  background-color: rgba(46, 46, 46, 0.8);
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: darkcyan;
  }
}

.active a {
  color: darkcyan;
}
.headerList {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.headerList li {
  list-style-type: none;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
.stats {
  margin-top: 50px;
}

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
