.head {
  display: flex;
  justify-content: center;
}
.img {
  width: 100px;
  height: 100px;
}

.list {
  display: flex;
}

.certificateTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  transition: 0.5s;
}

.certificateTable th,
.certificateTable td {
  padding: 10px;

  text-align: center;
  border: 1px solid #ddd;
}

.certificateTable th {
  background-color: darkslategray;
  font-weight: bold;
}

.certificateTable img {
  max-width: 100px;
  height: auto;
}

.certificateTable button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.certificateTable button:hover {
  background-color: #45a049;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalContent {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.searchForm {
  margin-bottom: 20px;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}

.searchForm button {
  padding: 8px 16px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.newBtn {
  cursor: pointer;

  background-color: green;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.filterInput {
  background-color: rgba(0, 0, 0, 0);
  appearance: none;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  border: 0.5px solid #ccc;
  height: 30px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.5;
  min-width: 120px;
}

.filterInput::placeholder {
  color: white;
  opacity: 0.5;
}
.filterInput[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
}
.filterInput option {
  background-color: black;
  opacity: 0.5;
  font-size: 12px;
}

.filterInput:last-child {
  margin-right: 0;
}

.clear {
  cursor: pointer;

  background-color: lightgray;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 10px;
}

.searchBlock {
  display: flex;
  align-items: center;
}
.pdfLink {
  color: green;
  cursor: pointer;
  font-weight: 600;
}

.pdfLink:hover {
  color: lightgreen;
}

.rezolution {
  background-color: transparent;
  color: white;
  border-radius: 4px;
  height: 25px;
}
.rezolution option {
  background-color: black;
}
