.formBlock {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  width: 100%;
  font-size: 14px;
  text-align: center;
height: 70vh;
@media screen and (max-width:767px) {
    height: 100%;   
    overflow-y: auto;  
    padding-right: 10px;
}
@media screen and (min-width:768px) {
  font-size: 16px;
}
@media screen and (min-width:1200px) {
  font-size: 18px;
}
}
.formBlock h2 {
  margin-bottom: 15px;
}
.form {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
 
 
}
@media screen and (max-width:767px) {
  .form {
    flex-direction: column;
  }
}
 @media screen and (min-width:768px) {
  .form {
    gap: 25px;
     flex-wrap: wrap;
 width: 100%;
 justify-content: center;
 align-items: center;
  }

}


 @media screen and (min-width:1200px) {
.form{
   gap: 35px;
 flex-wrap: wrap;
 width: 80%;
 justify-content: center;
 align-items: center;
}

}
.formInput {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 
}
.formInput select {
  width: 250px;
  cursor: pointer;
  padding: 5px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  border-radius: 6px;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}

.formInput label {
margin-bottom: 5px;
font-weight: 600;
width: 250px;
}

.formLabelTextarea {
  width: 100%;
  min-width: 100%;
  height: 60px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 6px;
  resize: vertical;
}
@media screen and (min-width:1200px) {
  .formLabelTextarea {
    height: 100px;
    width: 400px;
  }
}
.formLabel{
  height: 30px;
  min-width: 250px;
  padding: 5px;
  font-weight: 600;
 border: none;
      border:solid 1px grey;
      border-radius: 6px;
     
     
}
.customButton {
 cursor: pointer;
  padding: 5px;
  width: 250px;
  height: 25px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
 @media screen and (min-width:768px) {
      .formLabel, .customButton {
          height: 35px;
      }
      }
   @media screen and (min-width:1200px) {
    .formLabel, .customButton {
          height: 40px;
    }
      }
.formLabel option {
  font-weight: 700;

}


.submitBtn {
cursor: pointer;
  padding: 10px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
