.formBlock {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  width: 100%;
  font-size: 18px;
  height: 70vh;

}
.formBlock h2 {
  margin-bottom: 15px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  width: 70%;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}
.formInput {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 
}
.formInput select {
  width: 250px;
  cursor: pointer;
  padding: 5px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  border-radius: 6px;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}

.formInput label {
margin-bottom: 5px;
font-weight: 600;
width: 250px;
}

.formLabelTextarea {
  width: 100%;
  min-width: 100%;
  height: 80px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 6px;
  resize: vertical;
}
.formLabel{
  height: 25px;
  min-width: 250px;
  padding: 5px;
  font-weight: 600;
 border: none;
      border:solid 1px grey;
      border-radius: 6px;
}

.formLabel option {
  font-weight: 700;

}

.customButton {
 cursor: pointer;
  padding: 5px;
  width: 250px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
.submitBtn {
cursor: pointer;
  padding: 10px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  margin-left: auto;
  &:hover {
    background-color: lightskyblue;
  }
}
