.formBlock {
  text-align: center;
  width: 100%;
  font-size: 12px;
}
.formBlock h2 {
  margin-bottom: 15px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.formInput {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

 
}
.formInput select {
  width: 120px;
  cursor: pointer;
  padding: 5px;
  color: black;
  background-color: #e0e0e0;
  font-weight: 500;
  border-radius: 5px;
  border: 0.5px solid black;
  border-radius: 6px;
  text-align: center;
  &:hover {
    background-color: e0e0e20;
  }
}

.formInput label {
margin-bottom: 5px;
font-weight: 600;
}

.formLabelTextarea {
  width: 100%;
  min-width: 100%;
  height: 80px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 6px;
  resize: vertical;
}
.formLabel{
  height: 25px;
  min-width: 50%;
  padding: 5px;
 border: none;
      border:solid 1px grey;
      border-radius: 6px;
}

.formLabel option {
  font-weight: 700;

}

.customButton {
 cursor: pointer;
  padding: 5px;
  width: 120px;
  color: black;
  background-color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
.submitBtn {
cursor: pointer;
  padding: 5px;
  color: black;
  background-color: lightsteelblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
