.formBlock {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  width: 100%;
  font-size: 14px;
height: 70vh;
@media screen and (max-width:767px) {
    height: 100%;   
    overflow-y: auto;  
    padding-right: 10px;
}
@media screen and (min-width:768px) {
  font-size: 16px;
}
@media screen and (min-width:1200px) {
  font-size: 18px;
}
}
.formBlock h2 {
  margin-bottom: 15px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  width: 70%;
  background-color: #fff;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  @media screen and (min-width:768px) {
  gap: 20px;
}
  @media screen and (min-width:1200px) {
 gap: 35px;
}
}
.formInput {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 
}
.formInput select {
  width: 250px;
  cursor: pointer;
  padding: 5px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  border-radius: 6px;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}

.formInput label {
margin-bottom: 5px;
font-weight: 600;
width: 250px;
}

.formLabelTextarea {
  width: 100%;
  min-width: 100%;
  height: 60px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 6px;
  resize: vertical;
}
.formLabel{
  height: 25px;
  min-width: 250px;
  padding: 5px;
  font-weight: 600;
 border: none;
      border:solid 1px grey;
      border-radius: 6px;
      @media screen and (min-width:768px) {
        height: 30px;
      }
        @media screen and (min-width:1200px) {
        height: 40px;
      }
}

.formLabel option {
  font-weight: 700;

}

.customButton {
 cursor: pointer;
  padding: 5px;
  width: 250px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
.submitBtn {
cursor: pointer;
  padding: 10px;
  color: black;
  background-color: lightblue;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  margin-left: auto;
  &:hover {
    background-color: lightskyblue;
  }
}
