.formBlock {
  text-align: center;
  width: 70%;
  height: 100vh;
     overflow-y: scroll;
  -webkit-overflow-scrolling: scroll;
   scrollbar-width: none;    
  -ms-overflow-style: none; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.formBlock::-webkit-scrollbar {
  display: none;             
}
.form {
  display: flex;
 flex-wrap: wrap;
  gap: 20px;
  
}
.formInput {
  margin-top: 20px;
 
}
.formInput select {
  width: 100px;
  cursor: pointer;
  padding: 10px;
  color: black;
  background-color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  border-radius: 6px;
  text-align: center;
  &:hover {
    background-color: e0e0e20;
  }
  appearance: none;          
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.formLabelTextarea {
  width: 100%;
  min-width: 100%;
  height: 80px;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 6px;
  resize: vertical;
}
.formLabel{
  height: 40px;
  min-width: 100%;
  padding: 10px;
 border: none;
      border:solid 1px grey;
      border-radius: 6px;
}

.formLabel option {
  font-weight: 700;

}

.previewGrid {
  display: flex;
 flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
.previewGrid img{
  width: 100px;
  height: 100px;
}
.customButton {
 cursor: pointer;
  padding: 10px;
  width: 100%;
  color: black;
  background-color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
.submitBtn {
cursor: pointer;
  padding: 10px;
  color: black;
  background-color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  text-align: center;
  margin-top: 25px;
  &:hover {
    background-color: lightskyblue;
  }
}
