html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F7;

  color: #212121;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li,
p,
span,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
}
