
 .addBtn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #1976D2;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
  &:hover {
    background-color: #1565C0;
  }
 }

.certificateTable {
  border-collapse: collapse;
min-width: 700px;
width: 100%;
  font-size: 13px;
   
  text-align: center;
}
  .certificateTable {
 @media screen and(max-width:767px) {

  width:340px;
}}



.certificateTable thead th {
  background-color: #f0f0f0;
  padding: 8px;
  text-align: center;

}

.certificateTable tbody td {
  padding: 8px;
  border-bottom: 3px solid #e0e0e0;
  font-weight: 500;
  text-align: center;
}


.certificateTable tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer; 
}
.mainContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
   overflow-y: scroll;
  -webkit-overflow-scrolling: scroll;

}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.closeBtn {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
 top: 5%;
 right: 100%;
}
.roleBtn {
  cursor: pointer;
  padding: 10px 20px;
  color: black;
  background-color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  font-size: 14px;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}