.addBtn {
  padding:5px 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid white;
  text-align: center;
  &:hover {
    background-color: #1565c0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .addBtn {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .addBtn {
    font-size: 14px;
    padding: 7px;
  }
}
.mainContainer {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.certificateTable {
  border-collapse: collapse;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.certificateTable thead th {
  background-color: #f0f0f0;
  text-align: center;
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .certificateTable thead th {
    padding: 6px;
  }
  .certificateTable {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .certificateTable thead th {
    padding: 8px;
  }
  .certificateTable {
    font-size: 16px;
  }
}
.certificateTable tbody td {
  padding: 8px;
  border-bottom: 3px solid #e0e0e0;
  font-weight: 500;
  text-align: center;
}

.certificateTable tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tableContainer {
    width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .tableContainer {
    width: 1200px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  cursor: pointer;
}
.searchInput {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
    height: 100%;
  background-color: transparent;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  width: 150px;
  outline: none;
  border: 0.5px solid black;
  text-align: left;
  margin-left: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .searchInput {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .searchInput {
    font-size: 14px;
    padding: 7px;
    width: 200px;
  }
}
.roleBtn {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid white;
  text-align: center;
  margin-bottom: 15px;
  &:hover {
    background-color: #1565c0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .roleBtn {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .roleBtn {
    font-size: 14px;
  }
}
.head {
  display: flex;
    margin-bottom: 15px;
    align-items: center;
}
