.addBtn {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid white;
  text-align: center;
  margin-bottom: 15px;
  &:hover {
    background-color: #1565c0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 13px;
    padding: 8px 16px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.mainContainer {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.certificateTable {
  border-collapse: collapse;
  font-size: 10px;

  text-align: center;
}

.certificateTable thead th {
  background-color: #f0f0f0;
  text-align: center;
  padding: 4px;
  @media screen and (min-width: 768px) {
      padding: 6px;
  }
   @media screen and (min-width: 1024px) {
      padding: 8px;
  }
}

.certificateTable tbody td {
  padding: 8px;
  border-bottom: 3px solid #e0e0e0;
  font-weight: 500;
  text-align: center;
}

.certificateTable tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: scroll;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 700px;
  }

  @media screen and (min-width: 1024px) {
    width: 1200px;
  }
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 16px;
  cursor: pointer;
}


.roleBtn {
  cursor: pointer;
  padding: 10px 20px;
  color: black;
  background-color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid black;
  font-size: 14px;
  text-align: center;
  &:hover {
    background-color: lightskyblue;
  }
}
