.head {
  display: flex;
  justify-content: center;
}
.img {
  width: 100px;
  height: 100px;
}

.list {
  display: flex;
}

.certificateTable {
  min-width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
}

.certificateTable th,
.certificateTable td {
  padding: 10px;
  max-width: 180px;
  resize: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid #ddd;
}

.certificateTable th {
  background-color: rgba(46, 46, 46, 0.8);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalContent {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  position: relative;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.searchForm {
  margin-bottom: 20px;
  background-color: transparent;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}

.searchForm button {
  padding: 8px 16px;
}

.newBtn {
  cursor: pointer;
  padding: 5px 20px;
  background-color: #45eba8;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid white;
  font-size: 14px;
  text-align: center;
}

.filterBlock {
  display: flex;
  align-items: flex-start;
}

.searchBlock {
  display: flex;
  align-items: center;
}

.rezolution {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

.rezolution:hover {
  color: pink;
}

.rezolution:focus {
  outline: none;
}

.rezolution option {
  background-color: #121317;
  text-align: center;
}

.date {
  text-align: center;
  margin-bottom: 5px;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.iconsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
  margin-right: 7px;
  &:last-child {
    margin-right: 0;
  }
}

.icon:hover {
  color: lightskyblue;

  transform: scale(1.2);
}

.disabled {
  color: darkgray;
}

.user span {
  line-height: 2;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  font-weight: 600;
  min-width: 300px;
  border-radius: 5px;
  outline: none;
  height: 30px;
  border: none;
}

.passBtn {
  width: 100px;
  margin-top: 20px;
  padding: 5px;
  background-color: green;
  color: white;
  border-radius: 4px;
}

.passForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passTitle {
  font-size: 14px;
  text-align: center;
}

.scroll {
  overflow-y: scroll;
  height: 600px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #45eba8;
  outline: 1px solid darkcyan;
  border-radius: 4px;
}
